os:
  - linux
  - windows
language: node_js
node_js:
  - 8
  - 10
  - 11
  - 6
env:
  - UGLIFYJS_TEST_ALL=1 TRAVIS=1
matrix:
    fast_finish: true
cache:
    directories:
      - tmp
      - node_modules
dist: trusty
